<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../views/collat-details.js"></script>
</head>

<body>
    <div class="container">
        <div class="col-sm-4">
            <img src = "../img/nyan.jpg" id="nyan">
        </div>
        <div class="col-sm-8">
            <div class="row">
                <h4>Details of Loan Program</h4>
            </div>
            <div class="row">
                <p>This program was created 2 years ago</p>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Lender</h4>
                    <p>DaVinci</p>
                </div>
                <div class="col-sm-4">
                    <h4>Interest Period</h4>
                    <p>14 days</p>
                </div>
                <div class="col-sm-4">
                    <h4>Interest Rate</h4>
                    <p>5%</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <h4>Loan Amount</h4>
                    <p>5.0 ETH</p>
                </div>
                <div class="col-sm-4">
                    <h4>Transaction Fee</h4>
                    <p>0%</p>
                </div>
                <div class="col-sm-4">
                    <h4>Collateral Recommended</h4>
                    <p>Cate</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h4>Select a NFT as collateral</h4>
                </div>
                <div class="col-sm-6">
                    <button class = "btn btn-dark" id="finalize">Complete Transaction</button>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                        <select name="cars" id="cars">
                            <option value="volvo">Doge Art (4.2 ETH)</option>
                            <option value="saab">Cate (5 ETH)</option>
                            <option value="opel">Goose flying (4.9 ETH)</option>
                          </select>
                    </div>
                    
                </div>
            </div>
            
        </div>
    </div>
</body>

</html>